@import "tailwindcss";



html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100%;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.ProseMirror h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.ProseMirror ul {
  padding-left: 1.5em;
  list-style-type: disc;
}

.ProseMirror ol {
  padding-left: 1.5em;
  list-style-type: decimal;
}

.ProseMirror li {
  margin-bottom: 0.5em;
}

/* Nested lists */
.ProseMirror ul ul,
.ProseMirror ol ol,
.ProseMirror ul ol,
.ProseMirror ol ul {
  margin-top: 0.5em;
}

/* Style for focused editor */
.ProseMirror:focus {
  outline: none;
}